.git
.gitignore
.github
.nuxt
.output
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.local
.env
.env.*
!.env.example
README.md
docs
.codex
.claude
.ai-factory
.ai-factory.json
.mcp.json
.idea
.vscode
